<% layout('./layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-sm-6 offset-sm-4 fw-bold">
      <div
        class="startingText text-body-secondary"
        style="
          font-size: 5vh;
          background: -webkit-linear-gradient(
            rgb(188, 12, 241),
            rgb(212, 4, 4)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
      >
        Welcome
      </div>
      <div class="startingText mx-1" style="font-size: 5vh">
        <span class="z-3">to <b>TourBuddy</b></span>
      </div>
    </div>
  </div>
  <div>
    <% if(places.length>0){ %>
    <div class="all-listings">
      <% for(let place of places) { %>
      <a href="/places/<%= place._id %>">
        <div class="card listing-card" style="width: 18rem">
          <img
            src="<%= place.image %>"
            class="card-img-top"
            alt="..."
            height="300px"
            width="200px"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              ~<%= place.title %>
              <br />
              <%= place.location %>
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <% } else { %>
    <h1 style="text-align: center; margin-top: 20vh">
      Oops! No such place found!! <span>&#129402;</span>
    </h1>
    <% } %>
  </div>
</body>
