<% layout('./layouts/boilerplate') -%>
<body>
  <h1 style="text-align: center;">ALL PLACES</h1>
  <div>
    <div class="all-listings">
      <% for(let place of places) { %>
      <a href="/places/<%= place._id %>">
      <div class="card listing-card" style="width: 18rem">
        <img src="<%= place.image %>" class="card-img-top" alt="..." height="300px" width="200px" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <%= place.title %>
            <br>  
           <%= place.description %>

          </p>
        </div>
      </div>
      </a>
      <% } %>
    </div>
  </div>
</body>