<% layout('./layouts/boilerplate') -%>
<body>
  <h1 style="text-align: center;">All Places</h1>
  <div>
    <div class="all-listings">
      <a href="#">
      <div class="card listing-card" style="width: 18rem">
        <img src="#" class="card-img-top" alt="..." height="300px" width="200px" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            title
            <br>  
           description
          </p>
        </div>
      </div>
      </a>

    </div>
  </div>
</body>