@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato" !important;
}

.container {
  flex: 1;
}

/* Navbar  */
.navbar {
  height: 4rem;
  z-index: 999;
  background-color: white;
}

.navbar-brand i {
  font-size: 2rem;
  color: #74c0fc;
  rotate: -30deg;
}

.nav-link {
  color: #222222 !important;
  font-weight: 500 !important;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  /* background-color: #74C0FC; */
  padding-right: 40px;
  color: black;
  margin-right: 20px;
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: black;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(32, 26, 26, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search {
  pointer-events: none;
}

.input-search.open {
  pointer-events: auto;
}

.search-box {
  position: relative;
  width: fit-content;
}

/* Footer  */

footer {
  background-color: #183153;
  color: white;
  padding: 0.3rem 0;
  text-align: center;
}

.f-info-links a {
  color: white;
  font-size: 0.9rem;
  margin: 0rem;
  text-decoration: none;
}

.f-info-links a:hover {
  color: #74c0fc;
  text-decoration: underline;
}

.f-info-socials i {
  font-size: 1.3rem;
  color: white;
  margin: 0.5rem;
}

.f-info-socials i:hover {
  color: white;
  cursor: pointer;
}

.f-company-name {
  font-size: 1.2rem;
  font-weight: 500;
}

/* All Listings  */

.all-listings {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  /* margin: 1rem 1rem; */
  /* background-color: black; */
}

.listing-card {
  margin: 1rem;
  width: 18rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-listings a {
  text-decoration: none;
  color: black;
}

/* Card Effect */

.card-img-overlay {
  opacity: 0;
}

.card:hover .card-img-overlay {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

/* Show Page  */

.show-image {
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
  width: 80%;
  margin: 1rem auto;
}

.carousel-inner img {
  object-fit: cover;
  height: 60vh;
  border-radius: 20px;
}

.carousel {
  max-height: 60vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: To darken the control icons */
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}


/* All Listings  */

.all-listings {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  /* margin: 1rem 1rem; */
  /* background-color: black; */
}

.listing-card {
  margin: 1rem;
  width: 18rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-listings a {
  text-decoration: none;
  color: black;
}

/* Card Effect */

.card-img-overlay {
  opacity: 0;
}

.card:hover .card-img-overlay {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

/* map  */

#map {
  height: 70vh;
  width: 100vh;
  margin: 1rem auto;
}

/* make #map responsive */
@media (max-width: 768px) {
  #map {
    height: 50vh;
    width: 50vh;
  }
}

#menu {
  /* background-color: #fe424d; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#menu label {
  color: #555555c3;
}

/* Weather  */

.weatherDetails {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.weather-info h2,
.weather-info p {
  font-family: "Arial", sans-serif;
  color: #183153;
  /* margin: 10px 0; */
  animation: fadeInUp 0.5s ease-in-out forwards;
  display: flex;
  align-items: center;
}

.weather-info i {
  margin-right: 10px;
  color: #007bff;
  font-size: 1.5em;
}

.weather-info span {
  margin-right: 5px;
  font-weight: bold;
}

.weatherDetails.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Starting Text  */

.startingText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.startingText:first-of-type {
  animation: showup 7s infinite;
}

.startingText:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.startingText:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
