body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}   

/* Navbar  */
.navbar{
    height: 4rem;
    z-index: 999;
    background-color: white;
}

.navbar-brand i{
    font-size: 2rem;
    color: #fe424d;
    rotate: -30deg;
}

.nav-link{
    color:#222222 !important;
    font-weight: 500 !important;
}

/* Footer  */

footer{
    background-color: #d1caca;
    color: black;
    padding: 0.3rem 0;
    text-align: center;
}

.f-info-links a{
    color: black;
    font-size: 0.9rem;
    margin: 0rem;
    text-decoration: none;
}

.f-info-links a:hover{
    color: #fe424d;
    text-decoration: underline;
}

.f-info-socials i{
    font-size: 1.3rem;
    color: #222222;
    margin: 0.5rem;
}

.f-info-socials i:hover{
    color: white;
    cursor: pointer;

}

.f-company-name{
    font-size: 1.2rem;
    font-weight: 500;
}