<% layout('./layouts/boilerplate') -%>
<body>
  <div class="row mt-2">
    <div class="col-sm-6 offset-md-3">
      <h1>Login in TourBuddy</h1>
      <form
        action="/users/login"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div>
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid username.</div>
        </div>
        <!-- <div>
          <label for="email" class="form-label">Email:</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid email.</div>
        </div> -->

        <div>
          <label for="password" class="form-label">password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid password.</div>
        </div>
        <br />
        <div style="display: flex; justify-content: center">
          <button type="submit" class="btn btn-success fw-bold">
            LogIn
          </button>
        </div>
      </form>
      <br>
      <p>Don't have an account? <a href="/users/register">Register here</a></p>
    </div>
  </div>
</body>